{% extends 'base.html' %}


{% block content %}
    {% include 'messages.html' %}

    <div class="card shadow mb-4">
        {#        <div class="card-header py-3">#}
        {#            <h6 class="m-0 font-weight-bold text-primary">Doctors List</h6>#}
        {#        </div>#}
        <div class="card-body">
            <a href="{% url 'frontend:add_doctor_view' %}" class="btn btn-primary margin-bottom-20"><span
                    class="fa fa-plus"></span>Add</a>
            <br>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Degree</th>
                        <th>Specialized In</th>
                        <th>Working Place</th>
                        <th>Location Want to serve in</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Degree</th>
                        <th>Specialized In</th>
                        <th>Working Place</th>
                        <th>Location Want to serve in</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for doctor in doctors %}
                        <tr>
                            <td>{{ doctor.name }}</td>
                            <td>{{ doctor.email }}</td>
                            <td>{{ doctor.phone }}</td>
                            <td>{{ doctor.degree }}</td>
                            <td>{{ doctor.specialized_in }}</td>
                            <td>{{ doctor.working_place }}</td>
                            <td>{{ doctor.location_want_to_serve_in }}</td>
                            <td>
                                <a href="{% url 'frontend:edit_doctor_view' doctor.id %}" class="btn btn-primary"><span
                                        class="fa fa-edit"></span>Edit</a>
                                <a href="{% url 'frontend:delete_doctor_view' doctor.id %}"
                                   class="btn btn-outline-danger"><span class="fa fa-trash-alt"></span>Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}